./vscode
./vscode/*
*.exe
TODO
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
output/sim.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1c7e03b58874a8e360c4.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ff6f7a1b0ea3e3b717d7.json
build/.cmake/api/v1/reply/codemodel-v2-24bccd800f3ab38481d1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-12-24T12-16-55-0354.json
build/.cmake/api/v1/reply/target-cosmos-Debug-f8a00bd29237ae3b4ee6.json
build/.cmake/api/v1/reply/toolchains-v1-09a816ded04f092041cc.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.21.3/CMakeCCompiler.cmake
build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.3/CMakeSystem.cmake
build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/cosmos.dir/build.make
build/CMakeFiles/cosmos.dir/cmake_clean.cmake
build/CMakeFiles/cosmos.dir/compiler_depend.make
build/CMakeFiles/cosmos.dir/compiler_depend.ts
build/CMakeFiles/cosmos.dir/depend.make
build/CMakeFiles/cosmos.dir/DependInfo.cmake
build/CMakeFiles/cosmos.dir/flags.make
build/CMakeFiles/cosmos.dir/includes_CXX.rsp
build/CMakeFiles/cosmos.dir/linklibs.rsp
build/CMakeFiles/cosmos.dir/main.cpp.obj
build/CMakeFiles/cosmos.dir/main.cpp.obj.d
build/CMakeFiles/cosmos.dir/objects.a
build/CMakeFiles/cosmos.dir/objects1.rsp
build/CMakeFiles/cosmos.dir/progress.make
build/CMakeFiles/cosmos.dir/src/integrators/euler.cpp.obj
build/CMakeFiles/cosmos.dir/src/integrators/euler.cpp.obj.d
build/CMakeFiles/cosmos.dir/src/structs/memo.cpp.obj
build/CMakeFiles/cosmos.dir/src/structs/memo.cpp.obj.d
build/CMakeFiles/cosmos.dir/src/structs/vec.cpp.obj
build/CMakeFiles/cosmos.dir/src/structs/vec.cpp.obj.d
build/CMakeFiles/Structs.dir/build.make
build/CMakeFiles/Structs.dir/cmake_clean_target.cmake
build/CMakeFiles/Structs.dir/cmake_clean.cmake
build/CMakeFiles/Structs.dir/compiler_depend.make
build/CMakeFiles/Structs.dir/compiler_depend.ts
build/CMakeFiles/Structs.dir/depend.make
build/CMakeFiles/Structs.dir/DependInfo.cmake
build/CMakeFiles/Structs.dir/flags.make
build/CMakeFiles/Structs.dir/includes_CXX.rsp
build/CMakeFiles/Structs.dir/link.txt
build/CMakeFiles/Structs.dir/progress.make
build/CMakeFiles/Structs.dir/src/structs/memo.cpp.obj
build/CMakeFiles/Structs.dir/src/structs/memo.cpp.obj.d
build/CMakeFiles/Structs.dir/src/structs/vec.cpp.obj
build/CMakeFiles/Structs.dir/src/structs/vec.cpp.obj.d
build/CMakeFiles/cosmos.dir/compiler_depend.internal
build/libstructs.a
build/.cmake/api/v1/reply/cache-v2-21396b015884849037da.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7a7e8194c6ac28b7c1b1.json
build/.cmake/api/v1/reply/codemodel-v2-c2e8743c210ffb3930bc.json
build/.cmake/api/v1/reply/index-2022-12-25T12-29-15-0807.json
build/.cmake/api/v1/reply/target-cosmos-Debug-70561d9c4580d0d7d789.json
build/src/integrators/cmake_install.cmake
build/src/integrators/libintegrators.a
build/src/integrators/Makefile
build/src/integrators/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/integrators/CMakeFiles/progress.marks
build/src/integrators/CMakeFiles/integrators.dir/build.make
build/src/integrators/CMakeFiles/integrators.dir/cmake_clean_target.cmake
build/src/integrators/CMakeFiles/integrators.dir/cmake_clean.cmake
build/src/integrators/CMakeFiles/integrators.dir/compiler_depend.internal
build/src/integrators/CMakeFiles/integrators.dir/compiler_depend.make
build/src/integrators/CMakeFiles/integrators.dir/compiler_depend.ts
build/src/integrators/CMakeFiles/integrators.dir/depend.make
build/src/integrators/CMakeFiles/integrators.dir/DependInfo.cmake
build/src/integrators/CMakeFiles/integrators.dir/euler.cpp.obj
build/src/integrators/CMakeFiles/integrators.dir/euler.cpp.obj.d
build/src/integrators/CMakeFiles/integrators.dir/flags.make
build/src/integrators/CMakeFiles/integrators.dir/includes_CXX.rsp
build/src/integrators/CMakeFiles/integrators.dir/link.txt
build/src/integrators/CMakeFiles/integrators.dir/progress.make
build/src/integrators/CMakeFiles/lx.dir/build.make
build/src/integrators/CMakeFiles/lx.dir/cmake_clean.cmake
build/src/integrators/CMakeFiles/lx.dir/compiler_depend.make
build/src/integrators/CMakeFiles/lx.dir/compiler_depend.ts
build/src/integrators/CMakeFiles/lx.dir/depend.make
build/src/integrators/CMakeFiles/lx.dir/DependInfo.cmake
build/src/integrators/CMakeFiles/lx.dir/flags.make
build/src/integrators/CMakeFiles/lx.dir/includes_CXX.rsp
build/src/integrators/CMakeFiles/lx.dir/linklibs.rsp
build/src/integrators/CMakeFiles/lx.dir/objects1.rsp
build/src/integrators/CMakeFiles/lx.dir/progress.make
build/src/structs/cmake_install.cmake
build/src/structs/libstructs.a
build/src/structs/Makefile
build/src/structs/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/structs/CMakeFiles/progress.marks
build/src/structs/CMakeFiles/structs.dir/build.make
build/src/structs/CMakeFiles/structs.dir/cmake_clean_target.cmake
build/src/structs/CMakeFiles/structs.dir/cmake_clean.cmake
build/src/structs/CMakeFiles/structs.dir/compiler_depend.internal
build/src/structs/CMakeFiles/structs.dir/compiler_depend.make
build/src/structs/CMakeFiles/structs.dir/compiler_depend.ts
build/src/structs/CMakeFiles/structs.dir/depend.make
build/src/structs/CMakeFiles/structs.dir/DependInfo.cmake
build/src/structs/CMakeFiles/structs.dir/flags.make
build/src/structs/CMakeFiles/structs.dir/includes_CXX.rsp
build/src/structs/CMakeFiles/structs.dir/link.txt
build/src/structs/CMakeFiles/structs.dir/memo.cpp.obj
build/src/structs/CMakeFiles/structs.dir/memo.cpp.obj.d
build/src/structs/CMakeFiles/structs.dir/progress.make
build/src/structs/CMakeFiles/structs.dir/vec.cpp.obj
build/src/structs/CMakeFiles/structs.dir/vec.cpp.obj.d
output/euler.txt
build/.cmake/api/v1/reply/index-2022-12-25T12-49-58-0291.json
build/.cmake/api/v1/reply/codemodel-v2-82479b5384d239a8fb17.json
build/.cmake/api/v1/reply/index-2022-12-26T08-37-34-0927.json
build/.cmake/api/v1/reply/target-cosmos-Debug-e4b5955b1e5636cf8644.json
output/verlet.txt
output/predcorr.txt
analysers/totex/__pycache__/__init__.cpython-39.pyc
analysers/totex/__pycache__/strutils.cpython-39.pyc
analysers/totex/__pycache__/tabtex.cpython-39.pyc
analysers/totex/__pycache__/totex.cpython-39.pyc
images/euler-energy.eps
images/euler-path-diforbit.eps
images/euler-path-diforbit.pdf
images/euler-path.eps
output/euler-8000.txt
output/predcorr-8000.txt
output/verlet-8000.txt
tables/euler-stat.tex
tables/predcorr-stat.tex
tables/verlet-stat.tex
